# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [3]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [4]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv( './baseball_games.csv', delimiter = ',' )
df.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [5]:
data = df.drop(columns=['away_team_errors','field_type','venue','wind_direction','sky']).copy()
pd.set_option('display.max_columns', None)
data.head()

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,7,3,2016-04-03,Night Game,Kansas City Royals,0,9,4,7:38 p.m. Local,Sunday,74.0,14.0,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,5,2,2016-04-06,Night Game,Cincinnati Reds,0,8,3,7:11 p.m. Local,Wednesday,55.0,24.0,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,5,2,2016-04-06,Night Game,Baltimore Orioles,0,9,4,7:07 p.m. Local,Wednesday,48.0,7.0,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,8,3,2016-04-06,Night Game,Atlanta Braves,1,8,1,7:10 p.m. Local,Wednesday,65.0,10.0,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,8,4,2016-04-06,Day Game,Arizona Diamondbacks,0,8,3,12:40 p.m. Local,Wednesday,77.0,0.0,7,2.650000,regular season,0,1,Loss

In [6]:
# post season removed from the dataset
data.drop(data[data['season'] == 'post season'].index, inplace=True)
data.season.value_counts()

regular season    2428
Name: season, dtype: int64

In [7]:
data.loc[pd.isnull(data['attendance'])]

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
220,220,NaN,St. Louis Cardinals,8,3,2016-07-26,Day Game,New York Mets,1,7,2,4:11 p.m. Local,Tuesday,90.0,11.0,5,3.300000,regular season,0,1,Loss
1724,1724,NaN,New York Mets,5,1,2016-06-07,Day Game,Pittsburgh Pirates,0,10,3,4:08 p.m. Local,Tuesday,65.0,17.0,4,2.666667,regular season,1,0,Win
1912,1912,NaN,Cleveland Indians,7,6,2016-05-23,Day Game,Chicago White Sox,0,10,7,4:10 p.m. Local,Monday,82.0,11.0,13,3.166667,regular season,1,0,Win

In [8]:
# NaN values filled in with the mean value
mean_attendance = data['attendance'].mean()
data['attendance'].fillna((mean_attendance), inplace = True)

In [9]:
data.isnull().values.any()

False

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [10]:
max_attend = data[data.attendance == data.attendance.max()]
max_attend

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,534,53621.0,San Francisco Giants,11,2,2016-09-20,Night Game,Los Angeles Dodgers,0,9,0,7:10 p.m. Local,Tuesday,77.0,6.0,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [11]:
lowest_temp = data[data.temperature == data.temperature.min()]
lowest_temp

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,2409,32419.0,New York Yankees,13,8,2016-04-09,Day Game,Detroit Tigers,1,7,4,1:10 p.m. Local,Saturday,31.0,18.0,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [12]:
highest_temp = data[data.temperature == data.temperature.max()]
highest_temp

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,2026,21753.0,San Francisco Giants,8,3,2016-05-13,Night Game,Arizona Diamondbacks,0,8,1,6:40 p.m. Local,Friday,101.0,9.0,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [13]:
max_hours = data[data.game_hours_dec == data.game_hours_dec.max()]
max_hours

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,1445,45825.0,Cleveland Indians,15,2,2016-07-01,Day Game,Toronto Blue Jays,2,11,1,1:20 p.m. Local,Friday,68.0,0.0,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [14]:
min_hours = data[data.game_hours_dec == data.game_hours_dec.min()]
min_hours

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,4,1,2016-09-29,Night Game,Pittsburgh Pirates,0,2,1,7:06 p.m. Local,Thursday,63.0,12.0,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [15]:
# games ended in a draw, by number of runs scored
equal_runs = data.iloc[np.where(data.away_team_runs == data.home_team_runs)]
equal_runs

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,4,1,2016-09-29,Night Game,Pittsburgh Pirates,0,2,1,7:06 p.m. Local,Thursday,63.0,12.0,2,1.25,regular season,0,0,Loss

# 7. Какая игра была последней в сезоне?

In [16]:
last_game = data.sort_values(by=['date', 'start_time'], ascending=False).head(1)
last_game

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
395,395,36787.0,Toronto Blue Jays,9,2,2016-10-02,Day Game,Boston Red Sox,1,4,1,3:17 p.m. Local,Sunday,56.0,6.0,3,3.233333,regular season,0,1,Loss

# 8. У какой игры было минимальное количество зрителей?

In [17]:
min_attend = data[data.attendance == data.attendance.min()]
min_attend

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,2130,8766.0,Detroit Tigers,5,0,2016-05-04,Night Game,Cleveland Indians,0,5,4,6:10 p.m. Local,Wednesday,54.0,11.0,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветреная?

In [18]:
wind_speed = data[data.wind_speed == data.wind_speed.max()]
wind_speed

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,1655,41543.0,Milwaukee Brewers,11,5,2016-06-13,Night Game,San Francisco Giants,0,14,11,7:15 p.m. Local,Monday,58.0,25.0,16,3.633333,regular season,1,0,Win
2005,2005,35736.0,Houston Astros,8,9,2016-05-15,Day Game,Boston Red Sox,3,14,10,1:34 p.m. Local,Sunday,58.0,25.0,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

_Note:_ max number of total **runs** in the game.

In [19]:
total_runs = data[data.total_runs == data.total_runs.max()]
total_runs

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,1788,22588.0,Seattle Mariners,16,16,2016-06-02,Night Game,San Diego Padres,1,20,13,6:10 p.m. Local,Thursday,76.0,10.0,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [20]:
hteam_err = data[data.home_team_errors == data.home_team_errors.max()]
hteam_err

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,1178,22581.0,Arizona Diamondbacks,11,8,2016-07-27,Night Game,Milwaukee Brewers,5,5,1,7:10 p.m. Local,Wednesday,77.0,9.0,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество ранов?

_Note:_ max number of total **hits** in the game.

In [23]:
data['total_hits'] = data[['away_team_hits', 'home_team_hits']].sum(axis = 1)
total_hits = data[data.total_hits == data.total_hits.max()]
total_hits

,Unnamed: 0,attendance,away_team,away_team_hits,away_team_runs,date,game_type,home_team,home_team_errors,home_team_hits,home_team_runs,start_time,day_of_week,temperature,wind_speed,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
1413,1413,36253.0,Texas Rangers,16,5,2016-07-04,Day Game,Boston Red Sox,2,21,12,1:37 p.m. Local,Monday,84.0,11.0,17,3.666667,regular season,1,0,Win,37

# 13. Выведите количество игр, которая сыграла каждая команда в данном сезоне?

In [24]:
df1 = pd.DataFrame(data.away_team.value_counts(), columns=['away_team'])
df2 = pd.DataFrame(data.home_team.value_counts(), columns=['home_team'])
df3 = df1.join(df2)
df3['total_games'] = df3[['away_team', 'home_team']].sum(axis = 1)
df3.sort_index()

                               away_team  home_team  total_games
Arizona Diamondbacks                  81         81          162
Atlanta Braves                        80         81          161
Baltimore Orioles                     81         81          162
Boston Red Sox                        81         81          162
Chicago Cubs                          81         81          162
Chicago White Sox                     81         81          162
Cincinnati Reds                       81         81          162
Cleveland Indians                     80         81          161
Colorado Rockies                      81         81          162
Detroit Tigers                        81         80          161
Houston Astros                        81         81          162
Kansas City Royals                    81         81          162
Los Angeles Angels of Anaheim         81         81          162
Los Angeles Dodgers                   81         81          162
Miami Marlins                         81         80          161
Milwaukee Brewers                     81         81          162
Minnesota Twins                       81         81          162
New York Mets                         81         81          162
New York Yankees                      81         81          162
Oakland Athletics                     81         81          162
Philadelphia Phillies                 81         81          162
Pittsburgh Pirates                    81         81          162
San Diego Padres                      81         81          162
San Francisco Giants                  81         81          162
Seattle Mariners                      81         81          162
St. Louis Cardinals                   81         81          162
Tampa Bay Rays                        81         81          162
Texas Rangers                         81         81          162
Toronto Blue Jays                     81         81          162
Washington Nationals                  81         81          162

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

_Note:_ question 14 is below questions 15, 16

In [25]:
# max number of home-team wins
home_win = data.groupby('home_team')[['home_team_win']].sum()
home_win.sort_values(by='home_team_win', ascending=False).head()

                      home_team_win
home_team
Chicago Cubs                     57
Cleveland Indians                53
Los Angeles Dodgers              53
Texas Rangers                    53
Washington Nationals             50

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [26]:
# max number of away-team wins
away_win = data.groupby('away_team')[['home_team_loss']].sum()
away_win.sort_values(by='home_team_loss', ascending=False).head()

                      home_team_loss
away_team
St. Louis Cardinals               48
Boston Red Sox                    46
Chicago Cubs                      46
Washington Nationals              45
Toronto Blue Jays                 43

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? <s>(Будьте внимательны с типом матча в сезоне - season).</s>

In [27]:
# max wins within a season
total_wins = home_win.join(away_win)
total_wins['total_wins'] = total_wins[['home_team_win', 'home_team_loss']].sum(axis = 1)
total_wins.sort_values(by='total_wins', ascending=False).head()

                      home_team_win  home_team_loss  total_wins
home_team
Chicago Cubs                     57              46         103
Washington Nationals             50              45          95
Texas Rangers                    53              42          95
Cleveland Indians                53              41          94
Boston Red Sox                   47              46          93

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [28]:
# max number of loss within a season
total_wins.set_index(['home_team_win'])
total_loss = total_wins.join(df3).sort_index()
total_loss['total'] = total_loss.total_games - total_loss.total_wins
total_loss[['total']].sort_values(by='total', ascending=False). head()

                      total
home_team
Minnesota Twins         103
Tampa Bay Rays           94
San Diego Padres         94
Cincinnati Reds          94
Arizona Diamondbacks     93

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

# 19. Правда ли, что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [29]:
weekday_loss = pd.pivot_table(data, index='day_of_week', columns='home_team_outcome', values='home_team_loss', aggfunc = np.sum)
weekday_loss['aver_weight'] = weekday_loss.Loss.divide(weekday_loss.Loss.sum())
weekday_loss

home_team_outcome  Loss  Win  aver_weight
day_of_week
Friday              181    0     0.158772
Monday              128    0     0.112281
Saturday            174    0     0.152632
Sunday              189    0     0.165789
Thursday            121    0     0.106140
Tuesday             185    0     0.162281
Wednesday           162    0     0.142105

# 20. Правда ли, что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)